form {
  padding: .7rem;
}

form input {
  font-size: 1.2rem;
  padding: 1rem;
  border: 1px solid #dddfe2;  
  border-radius: .4rem;
  width: 100%;
  cursor: pointer;  
}

form input:focus {
  border: 1px solid rgb(175, 117, 10);
  box-shadow: inset 0px 0px 5px rgba(175, 117, 10, 0.5);
  outline: none;
}

form input[type="submit"] {
  color: #fff;
  background-color: orange;
  border-color: orange;
}

form input[type="submit"]:hover {
  color: #fff;
  background-color: rgb(175, 117, 10);
  border-color: rgb(175, 117, 10);
}
 
form div {
  margin: .5rem;  
  border-radius: .4rem;
}
